<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <center>
            <form action="/submit" method="POST">
                Name:
                <input type="text" name="name" required><br>
                Email:
                <input type="email" name="email" required><br>
                Year:
                <select name="year">
                    <option>1 year</option>
                    <option> 2 year</option>
                </select><br>
                <input type="submit" value="Register">
            </form>
        </center>
    </body>
</html>